{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Explore - {{ site_name }}
{% endblock %}

{% block head %}
    <style>
        .header_menu {
            padding: 12px;
        }

        .header_menu .btn-default {
            border: 1px solid #ddd;
            border-radius: 20px;
            padding: 10px;
            font-size: 15px;
        }

        .header_menu .btn-default.active, .header_menu .btn-default:hover {
            background-color: #eee;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <section class="main">
            <div class="container border-bottom-4">
                <div class="header_tab_menu">
                    <div class="header_menu active" style="overflow: auto">
                        <a href="" class="btn btn-default active">
                            Barchasi
                        </a>
                        {% for category in category_list %}
                            <a href="{% url 'explore_by_category' category.slug %}" class="btn btn-default">
                                {{ category.title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container" id="productsList">
                <div class="content_grid">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-3 col-4" style="padding: 4px;">
                                <div class="content_grid_card" style="padding: 0; height: 100%; width: 100%;">
                                    <a href="{% url 'product_detail_page' product.slug %}">
                                        <img class="lazyload" style="background-size: cover"
                                             src="{% static 'app/themes/stock/assets/img/loading.gif' %}"
                                             data-src="{{ product.get_image }}"
                                             alt="{{ product.title }}"/>
                                    </a>
                                    {% if user.is_authenticated %}
                                    {% else %}
                                        <a style="color: black" href="{% url 'login' %}"><i
                                                class="fa fa-bookmark content_grid_card_basket"></i></a>
                                    {% endif %}
                                    <div class="content_grid_card_price" style="background-color: antiquewhite;">
                                        <p> {{ product.price }} so'm </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block script %}
    <script>
        $('.bookin').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "{% url 'home_page' %}",
                data: {
                    'product_id': $(this).attr('id'),
                    'operation': 'bookin_product',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                success: function (response) {
                    selector = document.getElementsByName(response.product_id);
                    if (response.booked === true) {
                        $(selector).css("color", "blue");
                    } else if (response.booked === false) {
                        $(selector).css("color", "black");
                    }
                }
            });
        })
    </script>
{% endblock %}