{% extends 'app/base.html' %}
{% load static %}
{% block title %}
    Internet do'kon O'zbekiston bo'ylab bepul yetqazib berish - {{ site_name }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container {
            background: transparent !important;
        }

        .fa-heart {
            transition: .2s;
        }

        .fa-heart:hover {
            font-size: 22px;
            margin: auto;
        }

        .fa-bookmark {
            transition: .2s;
        }

        .fa-bookmark:hover {
            font-size: 22px;
            margin: auto;
        }

        .content_linear {
            max-width: 600px;
            padding-top: 20px;
            margin: auto;
        }

        .content_linear .content_linear_card {
            background: #fff;
            margin-bottom: 40px;
            border: 1px solid #ddd;
        }

        .count_like {
            color: #000;
            font-size: .875rem;
            margin-left: .625rem;
            font-weight: 400;
        }

        .my_close_btn {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .my_close_btn:hover,
        .my_close_btn:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <section class="main" style="background:#32256b;">
            <div class="container" id="productsList">
                {% if messages %}
                    <div class="container mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} d-block"
                                         role="alert">{{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="content_linear">
                    <div class="text-center">
                        <a class="bg-warning text-white btn w-50 my-2" data-toggle="collapse" href="#collapseExample"
                           role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-list"></i>
                            Kategoriyalar
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="row">
                                    {% for category, products in categories %}
                                        <div class="col-md-4">
                                            <div id="accordion">
                                                <div class="card">
                                                    <div id="{{ category.id }}">
                                                        <a href="{% url 'explore_by_category' category.slug %}"
                                                           class="btn btn-primary">
                                                            {{ category.title }}
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                    {% for product in product_list %}
                        <div class="content_linear_card" style="border-radius: 30px;">
                            <div class="content_linear_card_header">
                                <div class="content_linear_card_header_name">
                                    <!--
                            <div class="content_linear_card_header_logo">
                                <img src="{{ product.owner.image.url }}" alt="{{ product.owner.username }}"/>
                            </div>
                            -->
                                    <div class="content_linear_card_header_info">
                                        <h3>
                                            {{ product.title }}
                                        </h3>
                                        <!--
                                        <span>
                                            <a style="font-weight: 500; font-size: 14px; color: #555;
                                                text-decoration: underline;" href="{% url 'shop' product.owner.pk %}">
                                                {{ product.owner }}
                                            </a>
                                        </span>
                                        -->
                                    </div>
                                </div>

                                <div class="content_linear_card_header_price">
                                    <p style="margin-right: 28px;">{{ product.price }} so'm</p>
                                </div>
                            </div>

                            <a href="{% url 'product_detail_page' product.slug %}" class="content_linear_card_body">
                                {% if product.video %}
                                    <video src="{{ product.video.url }}" controls="controls"
                                           class="embed-responsive embed-responsive-16by9">
                                        <source src="{{ product.video.url }}" type="video/mp4">
                                    </video>
                                {% else %}
                                    <img loading="lazy" class="lazyload"
                                         src="{% static 'app/themes/stock/assets/img/loading.gif' %}"
                                         data-src="{{ product.get_image }}"
                                         alt="{{ product.title }}"/>
                                {% endif %}
                            </a>
                            <div class="content_linear_card_info_text">
                                <p>{{ product.description|safe|truncatechars:100 }}
                            </div>
                            <div class="content_linear_card_info" style="border-radius: 30px;">
                                <p>
                                    <a class="btn btn-primary" href="{% url 'product_detail_page' product.slug %}">
                                        SOTIB OLISH
                                    </a>
                                </p>
                            </div>
                            <!--

                    <div class="content_linear_card_info">
                        <div class="content_linear_card_info_url">
                            {% if user.is_authenticated %}
                            {% if user in product.get_like_cart %}
                            <a style="color: red;" class="likin" id="{{ product.id }}">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span class="count_like {{ product.id }}">{{ product.get_likes }}</span>
                            </a>
                            {% else %}
                            <a style="color: black;" class="likin" id="{{ product.id }}">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span class="count_like {{ product.id }}">{{ product.get_likes }}</span>
                            </a>
                            {% endif %}
                            {% if product in user.get_cart %}
                            <a style="color: blue" class="bookin" id="{{ product.id }}"
                               name="{{ product.id }}"><i class="fa fa-bookmark"></i></a>
                            {% else %}
                            <a style="color: black" class="bookin" id="{{ product.id }}"
                               name="{{ product.id }}"><i class="fa fa-bookmark"></i></a>
                            {% endif %}
                            {% else %}
                            <a style="color: black;" href="{% url 'login' %}">
                                <i class="fa fa-heart"></i>
                                <span class="count_like {{ product.id }}">{{ product.get_likes }}</span>
                            </a>
                            <a style="color: black" href="{% url 'login' %}">
                                <i class="fa fa-bookmark"></i>
                            </a>
                            {% endif %}
                        </div>

                        <div class="content_linear_card_info_text">
                            <p>{{ product.description|safe|truncatechars:20 }}
                            <p>
                                <a href="{% url 'product_detail_page' product.slug %}"> ko'rish </a>
                            </p>
                        </div>
                    </div>
                     -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block script %}
    <script>
        $('.likin').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "{% url 'home_page' %}",
                data: {
                    'product_id': $(this).attr('id'),
                    'operation': 'like_submit',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                success: function (response) {
                    selector = document.getElementById(response.like_id);
                    old_like_count = parseInt($('#' + response.like_id + '>span').text());
                    if (response.liked === true) {
                        $(selector).css("color", "red");
                        $('#' + response.like_id + '>span').text(old_like_count + 1);
                    } else if (response.liked === false) {
                        $(selector).css("color", "black");
                        $('#' + response.like_id + '>span').text(old_like_count - 1);
                    }
                }
            });
        });

        $('.bookin').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "{% url 'home_page' %}",
                data: {
                    'product_id': $(this).attr('id'),
                    'operation': 'bookin_product',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                success: function (response) {
                    selector = document.getElementsByName(response.product_id);
                    if (response.booked === true) {
                        $(selector).css("color", "blue");
                    } else if (response.booked === false) {
                        $(selector).css("color", "black");
                    }
                }
            });
        })

        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("my_close_btn")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}