{% extends 'app/base.html' %}

{% block main_body %}

    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light py-3 mb-4 border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand">Admin</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout_page' %}" type="button" class="btn btn-outline-dark me-2">Chiqish</a>
                {% else %}
                    <a href="{% url 'login_page' %}" type="button" class="btn btn-warning">Kirish</a>
                {% endif %}
            </div>
        </nav>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{% url 'admin_letter_page' %}" class="nav-link
                            {% if request.resolver_match.url_name == 'admin_letter_page' %}
                            active
                            {% endif %}">
                            Xatlar
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_client_page' %}" class="nav-link link-dark
                            {% if request.resolver_match.url_name == 'admin_client_page' %}
                            active
                            {% endif %}">
                            Klientlar
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_staff_page' %}" class="nav-link link-dark
                            {% if request.resolver_match.url_name == 'admin_staff_page' %}
                          active
                            {% endif %}">
                            Xodimlar
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_report_page' %}" class="nav-link link-dark
                            {% if request.resolver_match.url_name == 'admin_report_page' %}
                          active
                            {% endif %}">
                            Hisobot
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_branch_page' %}" class="nav-link link-dark
                            {% if request.resolver_match.url_name == 'admin_branch_page' %}
                          active
                            {% endif %}">
                            Filiallar
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-10">
            {% block content %}{% endblock %}
        </div>
    </div>
    </div>
{% endblock %}