{% extends 'app/admin/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Xodim qo'shish oynasi
{% endblock %}

{% block content %}

    <div class="col-md-12">
        {#        <h4>{{ my_filter.form }}</h4>#}
        <form method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.phone|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ form.region|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.district|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.address|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ form.passport_number|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.passport_give_date|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.given_by_whom|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.password|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.branch|as_crispy_field }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Qo'shish</button>
        </form>
    </div>

{% endblock %}
