{% extends 'app/admin/base.html' %}
{% load static %}

{% block content %}
    <main>
        <section class="main">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-sm-6 p-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>Mening hisobim</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Asosiy balansda: {{ user.balance }} so'm</h5>
                                <h5 class="card-title">To'lab berildi: 0 so'm</h5>
                            </div>
                        </div>
                        {% if messages %}
                            <div class="card">
                                <div class="card-body">
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }} d-block"
                                             role="alert">{{ message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-sm-6 p-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>To'lovga sorov berish formasi</h5>
                            </div>

                            <form class="card-body" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label }}
                                        {{ field }}
                                        {{ field.error }}
                                    </div>
                                {% endfor %}
                                <input type="submit" value="Tasdiqlash" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Sana</th>
                            <th scope="col">Hisob raqam</th>
                            <th scope="col">Summa</th>
                            <th scope="col">Holat</th>
                            <th scope="col">Xabar</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="text-center">
                            {% if user_requests|length == 0 %}
                                <th colspan="5"> Hozircha sizda pul yechish sorovlari mavjud emas</th>
                            {% else %}
                                {% for user_request in user_requests %}
                                    <tr>
                                        <th scope="col">{{ user_request.created_at }}</th>
                                        <th scope="col">{{ user_request.card_number }}</th>
                                        <th scope="col">{{ user_request.amount }}</th>
                                        {% if user_request.status == 'active' %}
                                            <th scope="col">Jarayonda</th>
                                        {% elif user_request.status == 'success' %}
                                            <th scope="col">To'landi</th>
                                        {% elif user_request.status == 'cancel' %}
                                            <th scope="col">Bekor qilindi</th>
                                        {% endif %}
                                        <th scope="col">
                                            {% if user_request.message %}{{ user_request.message }}{% else %} Hozircha
                                                xabar yo'q {% endif %}</th>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock %}