{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    <link rel="stylesheet" href="{% static 'app/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
    <style>
        select {
            width: 100%;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark text-white" style="height: 10%;">

        {% block title_main %}
        {% endblock %}

        <div style="">Buyurtmalar</div>
        <h4>ID: {{ user.id }}</h4>
        <a href="{% url 'admin_page' %}" class="btn btn-danger btn-sm">Asosiy panel</a>
    </nav>
    <div class="row">
        <div class="col-md-2 h-70 text-center" style="background-color: #38ffae; padding-right: 0; position:fixed;">
            <div class="list-group text-light w-100 h-100">
                <a style="height: 13%" href="{% url 'operator_new' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/new' %} active {% endif %}">
                    <div>
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </div>
                    <h6>Yangi buyurtmalar</h6>
                </a>
                <a style="height: 13%" href="{% url 'operator_ready' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/ready' %} active {% endif %}">
                    <div>
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <h6>Dostavka tayyor</h6>
                </a>
                <a style="height: 13%" href="{% url 'operator_delivering' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/delivering' %} active {% endif %}">
                    <div>
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <h6>Yetkazilmoqda</h6>
                </a>
                <a style="height: 13%" href="{% url 'operator_waiting' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/waiting' %} active {% endif %}">
                    <div>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <h6>Keyin oladi</h6>
                </a>
                <a style="height: 13%" href="{% url 'operator_archived' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/archived' %} active {% endif %}">
                    <div>
                        <i class="fa fa-archive" aria-hidden="true"></i>
                    </div>
                    <h6>Arxivlandi</h6>
                </a>
                <a style="height: 13%" href="{% url 'operator_broken' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/broken' %} active {% endif %}">
                    <div>
                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </div>
                    <h6>Nosoz, bekor qilindi</h6>
                </a>
                <a style="height: 13%" href="{% url 'operator_delivered' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/delivered' %} active {% endif %}">
                    <div>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <h6>Yetkazib berildi</h6>
                </a>
                <a style="height: 13%" href="{% url 'operator_cancelled' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/canceled' %} active {% endif %}">
                    <div>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <h6>Qaytib keldi</h6>
                </a>
                <a style="height: 13%" href="{% url 'operator_hold' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/canceled' %} active {% endif %}">
                    <div>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <h6>Hold</h6>
                </a>
                <a style="height: 13%" href="{% url 'operator_all' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if request.path == '/operator/all' %} active {% endif %}">
                    <div>
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </div>
                    <h6>Hammasi</h6>
                </a>
            </div>
        </div>
        <div class="col-md-10" style="margin-left: 16%;">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
<script>
    $(function () {
        $('select').multipleSelect({
            multiple: true,
            multipleWidth: 260
        })
    })
</script>

{% block script %} {% endblock %}

</body>
</html>