{% extends 'app/operator/base.html' %}
{% load static %}

{% block title %}
    Operatorlar bo'limi
{% endblock %}

{% block content %}
    <div class="bg-light w-75 m-auto mt-5">

        <form method="GET">
            <div>{{ filtered_product.form.as_p }}</div>
            <input class="btn btn-primary" type="submit" value="Saqlash">
        </form>

        {% for order in filtered_product.qs %}
            <div class="card border-dark mt-5">
                <div class="card-body">
                    <h2 class="card-title">{{ order.product.title }} - {{ order.product.price }} so'm</h2>
                    <ul class="text-muted">
                        <li class="">Client: {{ order.full_name }} - +{{ order.phone_number }}</li>
                        <li class="">Address: {{ order.location }}</li>
                        <li class="">Narxi: {% widthratio order.product.price 1 order.quantity %} so'm</li>
                        <li class="">Soni: {{ order.quantity }}ta</li>
                        <li class="">Komment: {{ order.comment }}</li>
                        <li class="">ID: #{{ order.id }}</li>
                        <li class="">Vaqti: {{ order.created_at }}</li>
                        <li class="">Yangilangan vaqti: {{ order.update_at }}</li>
                    </ul>
                    <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">Holatini o'zgartirish</a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
