{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div style="top: 13%; left: 28%;" class="position-fixed">
        {% if messages %}
            <div class="container mb-3 m-auto bg-danger rounded">
                <div class="row">
                    <div class="col-md-12">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} d-block"
                                 role="alert">{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container text-center bg-light rounded p-4" style="margin-top: 10%;">
        <h2>Parolni almashtirish</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="phone_number" value="{{ phone_number }}">
            <div>
                <label>
                    Yangi parol
                    <input class="form-control" name="password1" type="password">
                    Yangi parolni tasdiqlang
                    <input class="mt-1 form-control" name="password2" type="password">
                </label>
            </div>
            <input style="width: 200px" type="submit" class="btn btn-primary form-control mt-2" value="Yuborish">
        </form>
    </div>
{% endblock %}