{% extends 'app/client/base.html' %}
{% load static %}

{% block title %}
    Hisobot oynasi
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Excel faylni yuklang</h1>
        <div class="row w-">

            <div class="col-md-10">
                <ul class="list-group">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
{#                        <li class="list-group-item">#}
{#                            <label for="excel">xlsx:</label>#}
{#                            <input type="file" id="file" name="file">#}
{#                        </li>#}
                        <button type="submit" class="btn btn-primary">Yuborish</button>
                    </form>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}
