{% extends 'app/client/base.html' %}
{% load static %}

{% block title %}
    Xodim oynasi
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h4>Xodimlar</h4>
        {#        <h4>{{ my_filter.form }}</h4>#}
        <span>
            <a href="{% url 'client_create_letter_page' %}" class="btn btn-primary">Qo'shish</a>
        </span>

        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                <thead>
                <th><input type="checkbox" id="checkall"/></th>
                <th>ID</th>
                <th>Fish</th>
                <th>Viloyat</th>
                <th>Telefon</th>
                <th>Manzil</th>
                <th>Xatlar soni</th>
                </thead>
                <tbody>
                {% for staff in staffs %}
                    <tr>
                        <td>
                            <input type="checkbox" class="checkthis"/>
                        </td>
                        <td>{{ staff.id }}</td>
                        <td>{{ staff.name }}</td>
                        <td>{{ staff.region }}</td>
                        <td>{{ staff.phone }}</td>
                        <td>{{ staff.address }}</td>
                        <td>{{ staff.letter_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>

        {% if staffs.has_other_pages %}
            <ul class="pagination">
                {% if staffs.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ staffs.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in staffs.paginator.page_range %}
                    {% if staffs.number == i %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if staffs.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ staffs.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span>&raquo;</span></li>
                {% endif %}

            </ul>
        {% endif %}

    </div>
{% endblock %}
