.content_linear_card_info {
    border-bottom: 1px solid #ddd;
}

.header_menu_select .form-control {
    border: 1px solid #ddd;
}


.content_linear_card_buy .btn-new.active {
    background-color: #270d61;
    border-color: #1999ff;
}

.content_linear_card_buy {
    background: #270d61;
}

.content_linear_card_buy label {
    color: #fff;
}

.content_bonus_block_items {
    overflow-x: auto;
}
